@use "../mixins" as *;

.page-expertise {
    .wp-block-term-name {}

    .skills-section {
        .wp-block-terms-query {
            &:nth-child(odd) {
                border-right: 1px solid var( --wp--preset--color--gray-light );
            }

            &:first-child,
            &:nth-child(2) {
                border-bottom: 1px solid var( --wp--preset--color--gray-light );
            }
        }

    }

    @include breakpoint( tablet ) {
        .is-layout-grid,
        .wp-block-group-is-layout-grid {
            .wp-block-group {
                &:nth-child(odd) {
                    border-right: none;
                }
            }
        }

        .skills-section {
            .wp-block-terms-query {
                &:nth-child(odd) {
                    border-right: none;
                }

                &:nth-child(3) {
                    border-bottom: 1px solid var( --wp--preset--color--gray-light );
                }
            }
        }

    }
}

