.site-footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: var(--wp--preset--color--primary-dark);
	color: var(--wp--preset--color--white);

	a {
		color: var(--wp--preset--color--white);
	}
}

.site-info {
	text-align: center;
}
