.site-footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
	margin-top: clamp(56px, 8vw, 110px);
	background-color: var( --wp--preset--color--foreground );
	color: var( --wp--preset--color--white );

	a {
		color: var( --wp--preset--color--white );

		&:hover,
		&:focus {
			color: var( --wp--custom--color--gray--200 ) !important;
			color: var( --wp--preset--color--primary );
		}
	}

	a[href*="https://wordpress.org"] {
		color: var( --wp--preset--color--white );
	}

	.wp-block-site-title {
		display: flex;
        align-items: center;
        gap: 12px;

        &::before {
            content: '';
            @extend .dot;
        }

		a {
			color: var( --wp--preset--color--white );
		}
	}

	@include breakpoint( lg ) {
		.wp-block-columns {
			flex-wrap: wrap !important;

			.wp-block-column {
				flex-basis: 100%;
			}

			.wp-block-site-title,
			.is-content-justification-right {
				justify-content: center;
			}
		}
	}
}

.site-info {
	text-align: center;
}
