p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: var(--wp--preset--color--gray-light);
	font-family: var(--wp--preset--font-family--monospace);
	font-size: var(--wp--preset--font-size--medium);
	line-height: var(--wp--custom--line-height--normal);
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: var(--wp--preset--font-family--monospace);
	font-size: var(--wp--preset--font-size--medium);
}

abbr, acronym {
	border-bottom: 1px dotted var(--wp--preset--color--gray-medium);
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: var(--wp--preset--font-size--large);
}

.dot {
	width: 10px; 
	height: 10px; 
	background: var( --wp--preset--color--primary ); 
	border-radius: 50%; 
	display: inline-block; 
	flex: 0 0 auto;
}

.is-style-intro {
	margin-top: 22px;
	font-size: var( --wp--preset--font-size--larger );
	line-height: 1.5;
	color: var( --wp--custom--color--gray--600 );
	max-width: 60ch;
	font-weight: 500;
}

.is-style-label {
	font-family: var( --wp--preset--font-family--monospace );
	font-size: var( --wp--preset--font-size--small );
	letter-spacing: 0.1em;
	text-transform: uppercase;
}