body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: var(--wp--preset--color--foreground);
	font-family: var( --wp--preset--font-family--body );
	font-size: var(--wp--preset--font-size--normal);
	line-height: var( --wp--custom--line-height--normal );
}

// @import '@fortawesome/fontawesome-free';

@import "headings";

@import "copy";
