button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: var(--wp--preset--color--primary);
	border-radius: 0;
	background: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--white);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: var(--wp--preset--color--primary-dark);
	}

	&:active,
	&:focus {
		border-color: var(--wp--preset--color--primary-dark);
	}
}

button.sticky-bottom {
	background-color: var(--wp--preset--color--primary-dark);
	opacity: 90%;
	font-size: 1.5rem;
}
