:root {
  --fluentform-primary: var(--wp--preset--color--primary);
  --fluentform-secondary: var(--wp--preset--color--foreground);
  --fluentform-danger: var(--wp--custom--color--danger);
  --fluentform-border-color: var(--wp--preset--color--gray-light);
  --fluentform-border-radius: 0;
  --fluentform-input-select-height: auto;
}
