:root {
  --fluentform-primary: #1a7efb;
  --fluentform-secondary: #606266;
  --fluentform-danger: #f56c6c;
  --fluentform-border-color: #dadbdd;
  --fluentform-border-radius: 7px;
  --fluentform-input-select-height: auto;
}
