.sticky {
	display: block;
}

.hentry {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.job-dates {
	font-style: italic;
}

#home {
	background-color: var(--wp--preset--color--white);
	text-align: center;
}

#expertise {
	background-color: var(--wp--preset--color--white);
}

#portfolio {
	padding-bottom: 0;

	@include section-divider();
}

#contact {
	background-color: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--white);

	h2,
	h3,
	a,
	a:visited,
	a:hover,
	a:focus {
		color: var(--wp--preset--color--white);
	}

}

.job {
	ul {
		@include list-inline;
		margin: 0;

		li {
			@include list-inline-item;

			&:not(:last-child) {
				&:after {
					content: ", ";
				}
			}
		}

	}

	.entry-content {
		margin-top: 0;
	}
}

.clients-list {
	margin-top: .5rem;
}

.jobs-list {
	.job {
		margin-top: 2rem;
	}
}
