<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">

	<!-- wp:post-title {"level":1} /-->

	<!-- wp:pattern {"slug":"pealutz/content-single-project"} /-->

	<!-- wp:pattern {"slug":"pealutz/post-navigation-links"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
