<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">

	<!-- wp:query-title {"type":"archive","showPrefix":false,"Level":1} /-->

	<!-- wp:group {"className":"entry-content","layout":{"type":"constrained"}} -->
	<div class="wp-block-group entry-content">
		
		<!-- wp:pattern {"slug":"pealutz/content-portfolio"} /-->

	</div>
	<!-- /wp:group -->
	
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
