.site-header {
	.wp-block-navigation {
		gap: 28px; 
		align-items: center; 

		a {
			font-size: var( --wp--preset--font-size--small );
			font-weight: 600;
			letter-spacing: 0.02em;
			position: relative;
			padding: 4px 0;

			&.button {
				background-color: var( --wp--preset--color--white );
				color: var( --wp--preset--color--foreground ) !important;
				padding: 9px 16px;
				font-size: var( --wp--preset--font-size--small );
				font-weight: 700;
				letter-spacing: 0.02em;
				white-space: nowrap;

				&:hover,
				&:focus {
					background-color: var( --wp--preset--color--primary );
				}
			}
		}

		.button {
			a {
				background-color: var( --wp--preset--color--foreground );
				color: var( --wp--preset--color--white ) !important;
				padding: 9px 16px !important;
				font-size: var( --wp--preset--font-size--small );
				font-weight: 700;
				letter-spacing: 0.02em;
				white-space: nowrap;

				&:hover,
				&:focus {
					background-color: var( --wp--preset--color--primary );
				}
			}

			&.current-menu-item {
				a {
					background-color: var( --wp--preset--color--primary );
				}
			}
		}

		&-item {
			&:not( .button ) {
				a {
					&::after {
						content: "";
						position: absolute;
						left: 0; 
						bottom: -2px;
						width: 0; 
						height: 2px;
						background-color:  var( --wp--preset--color--primary );
						transition: width .2s ease;
					}

					&:hover,
					&:focus {
						color: var( --wp--preset--color--foreground);

						&::after {
							width: 100%;
						}
					}
				}
			}

			&:not( .current-menu-item, .button ) {
				color: var( --wp--custom--color--gray--500 );
			}
		}

		.current-menu-item {
			&:not( .button ) {
				a {
					color: var( --wp--preset--color--foreground );

					&::after {
						width: 100%;
					}
				}
			}
		}

	}
}

.social-menu {
	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
		display: flex;
		justify-content: center;

		.icon::before {
			font-family: "Font Awesome 5 Brands";
			font-size: var(--wp--preset--font-size--large);
		}
		.github .icon::before {
			content: "\f09b";
		}
		.linkedin .icon::before {
			content: "\f08c";
		}
		.upwork .icon::before {
			content: "\f19a";
		}

		li {
			padding-right: .5rem;
			padding-left: .5rem;
		}
	}
}


.wp-block-navigation {
	&.is-style-list {
		margin-top: 36px;
		width: 100%;
		gap: 4px; 

		.wp-block-navigation-item {
			width: 100%;
			display: flex; 
			align-items: center; 
			justify-content: space-between; 
			padding: 1rem 4px;
			border-top: 1.5px solid var( --wp--preset--color--foreground ); 
			font-size: var( --wp--preset--font-size--larger ); 
			font-weight: 700;

			&:last-child {
				border-bottom: 1.5px solid var( --wp--preset--color--foreground ); 
			}

			a {
				display: flex;
				align-items: center;
				width: 100%;

				> * {
					width: 100%;
				}
				
				&::after {
					content: "";
					display: inline-block;
					width: 24px;
					height: 24px;
					flex-shrink: 0;
					background-color: var( --wp--preset--color--primary );
					mask-image: url( 'icons/arrow-up-right.svg' );
					mask-repeat: no-repeat;
					mask-size: contain;
					color: var(  --wp--preset--color--primary );
					transition: transform .2s;
				}

				&:hover,
				&:focus {
					color: var(  --wp--preset--color--primary ); 

					&::after {
						transform: translate(4px, -4px);
					}
				}
			}
		}
	}
}