@use "mixins" as *;

/* Links */

a {
	&:not( .wp-element-button ) {
		color: var( --wp--preset--color--primary );

		&:visited {
			color: var(--wp--preset--color--primary);
		}
		&:hover,
		&:focus {
			color: var( --wp--preset--color--primary-dark );
		}
	}
}

.is-style-read-more {
	a {
		display: inline-flex;
		align-items: center;
		gap: 7px;
		font-weight: 700;
		color: var( --wp--preset--color--black ) !important;
		white-space: nowrap;
		text-decoration: none;

		&::after {
			content: "";
			display: inline-block;
			width: 1rem;
			height: 1rem;
			flex-shrink: 0;
			background-color: var( --wp--preset--color--primary );
			mask-image: url( 'icons/arrow-up-right.svg' );
			mask-repeat: no-repeat;
			mask-size: contain;
			color: var(  --wp--preset--color--primary );
			transition: transform .2s;
		}

		&:hover,
		&:focus {
			color: var( --wp--preset--color--foreground );

			&::after {
				transform: translate(3px, -3px);
			}
		}
	}
}

/* Menus */

.site-header {
	.wp-block-navigation {
		gap: 28px;
		align-items: center;

		a {
			font-size: var( --wp--preset--font-size--small );
			font-weight: 600;
			letter-spacing: 0.02em;
			position: relative;
			padding: 4px 0;

			&.button {
				background-color: var( --wp--preset--color--white );
				color: var( --wp--preset--color--foreground ) !important;
				padding: 9px 16px;
				font-size: var( --wp--preset--font-size--small );
				font-weight: 700;
				letter-spacing: 0.02em;
				white-space: nowrap;

				&:hover,
				&:focus {
					background-color: var( --wp--preset--color--primary );
				}
			}
		}

		.button {
			a {
				background-color: var( --wp--preset--color--foreground );
				color: var( --wp--preset--color--white ) !important;
				padding: 9px 16px !important;
				font-size: var( --wp--preset--font-size--small );
				font-weight: 700;
				letter-spacing: 0.02em;
				white-space: nowrap;

				&:hover,
				&:focus {
					background-color: var( --wp--preset--color--primary );
				}
			}

			&.current-menu-item {
				a {
					background-color: var( --wp--preset--color--primary );
				}
			}
		}

		&-item {
			&:not( .button ) {
				a {
					&::after {
						content: "";
						position: absolute;
						left: 0;
						bottom: -2px;
						width: 0;
						height: 2px;
						background-color:  var( --wp--preset--color--primary );
						transition: width .2s ease;
					}

					&:hover,
					&:focus {
						color: var( --wp--preset--color--foreground);

						&::after {
							width: 100%;
						}
					}
				}
			}

			&:not( .current-menu-item, .button ) {
				color: var( --wp--custom--color--gray--700 );
			}
		}

		.current-menu-item {
			&:not( .button ) {
				a {
					color: var( --wp--preset--color--foreground );

					&::after {
						width: 100%;
					}
				}
			}
		}

	}
}

.social-menu {
	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
		display: flex;
		justify-content: center;

		.icon::before {
			font-family: "Font Awesome 5 Brands";
			font-size: var(--wp--preset--font-size--large);
		}
		.github .icon::before {
			content: "\f09b";
		}
		.linkedin .icon::before {
			content: "\f08c";
		}
		.upwork .icon::before {
			content: "\f19a";
		}

		li {
			padding-right: .5rem;
			padding-left: .5rem;
		}
	}
}


.wp-block-navigation {
	&.is-style-list {
		margin-top: 36px;
		width: 100%;
		gap: 4px;

		.wp-block-navigation-item {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1rem 4px;
			border-top: 1.5px solid var( --wp--preset--color--foreground );
			font-size: var( --wp--preset--font-size--larger );
			font-weight: 700;

			&:last-child {
				border-bottom: 1.5px solid var( --wp--preset--color--foreground );
			}

			a {
				display: flex;
				align-items: center;
				width: 100%;

				> * {
					width: 100%;
				}

				&::after {
					content: "";
					display: inline-block;
					width: 24px;
					height: 24px;
					flex-shrink: 0;
					background-color: var( --wp--preset--color--primary );
					mask-image: url( 'icons/arrow-up-right.svg' );
					mask-repeat: no-repeat;
					mask-size: contain;
					color: var(  --wp--preset--color--primary );
					transition: transform .2s;
				}

				&:hover,
				&:focus {
					color: var(  --wp--preset--color--primary );

					&::after {
						transform: translate(4px, -4px);
					}
				}
			}
		}
	}
}

.post-navigation {
	font-family: var( --wp--preset--font-family--monospace );
	font-size: var( --wp--preset--font-size--small );
	text-transform: uppercase;
	letter-spacing: 0.01em;
	margin-top: clamp( 3em, 3vw, 5em );

	&-link {
	&__label {
			font-weight: 600;
			letter-spacing: 0.01em;
			color: var( --wp--custom--color--gray--600 );

			text-decoration: none;
		}
	}

	&-link {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.5em;
	}

	a {
		text-decoration: none;
		color:  var( --wp--preset--color--primary );
		cursor: pointer;

		.post-navigation-link__title {
			position: relative;
			color:  var( --wp--preset--color--primary );

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 0;
				// width: 100%;
				height: 2px;
				background-color:  var( --wp--preset--color--primary );
				transition: width .2s ease;
			}
		}

		&:hover,
		&:focus {
			.post-navigation-link__title {
				color: var( --wp--preset--color--foreground );

				&::after {
					width: 100%;
				}
			}
		}
	}

	.is-arrow-chevron {
		font-size: 0;

		&::before,
		&::after {
			content: "";
			display: block;
			padding: 0;
			mask-repeat: no-repeat;
			mask-size: 100%;
			mask-position: center;
			z-index: 1;
			background-color: currentColor;
		}
	}

	.wp-block-post-navigation-link {
		display: flex;

		&__arrow-previous {
			&::before {
				height: 20px;
				width: 20px;
				justify-content: flex-start;
				mask-image: url( 'icons/chevron-left-small.svg' );
				mask-position: left;
			}
		}

		&__arrow-next {
			&::after {
				height: 20px;
				width: 20px;
				justify-content: flex-end;
				mask-image: url( 'icons/chevron-right-small.svg' );
				mask-position: right;
			}
		}
	}

	@include breakpoint( tablet ) {
		gap: 1em;

		[class^="post-navigation-link"] {
			flex-basis: 100%;
		}

		.post-navigation-link-next {
			justify-content: flex-end;
		}
	}

}
